@charset "utf-8";
/*モバイルファースト*/
@import url('http://fonts.cdnfonts.com/css/billabong');
body{
  -webkit-appearance:none;  /*iPhoneのデフォルトの設定を解除*/
  -webkit-text-size-adjust: 100%;
  margin:0;
  background: #fff;
  font-family:serif;
  text-align: center;
  color: #000;
}
header{
  background: #ccc;
  display: flex;
  width:100%;
  height: 50px;
  position: fixed;
  top:0px;
  z-index: 4;
}

header > a >img:first-child{
    width:42px;
    height:42px;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 5px;
    vertical-align: middle;
    display: inline-block;
  }
  header > a >img:nth-child(2) {
    width:auto;
    height:20px;
    margin-left: 4px;
    vertical-align: bottom;
    display: inline-block;
  }

#phone_menu{
  color:#fff;
  font-size: 20px;
  line-height:30px;
  block-size: 30px;
  padding:0 5px;
  margin-top: 8px;
  margin-right: 10px;
  margin-left:auto;
  cursor: pointer;
  border:1px solid #fff;
  border-radius: 5px;
}
#phone_menu.selected{
  color:#999;
  background-color: #fff;
}
.overlay{     /*スマホメニューの背景*/
  position:fixed;
  top:40px;
  width:100px;
  right: 10px;
  z-index: 5;
  background-color: #fff;
  opacity:0;
  pointer-events:none;
  border-radius: 5px;
}
.overlay.show{
  opacity:1;
  pointer-events: auto;
}
.overlay ul{  /*ulに付いてる点とマージンを消す*/
  list-style-type:none;
  margin: 0;
  padding:0;
  border-radius: 5px;
  border:solid 1px #000;
}
.overlay ul li{
  padding:8px;
  text-align: center;
  border-radius: 5px;
}
.overlay ul li a{
  font-family: serif;
  color:#000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
.title{
  width:100%;
  height:100vh;   /*画像の高さ*/
  position: relative;
}
.title img{
  opacity:1;
  position: absolute;
  top:50px;   /*ヘッダーの高さ*/
  right: 0;
  left:0;
  margin:0 auto;
  z-index:1;      /*ロゴのz=2より低い値*/
  width: 100%;
  height: calc(100vh - 50px); /*ヘッダーとボーダーを引く*/
  object-fit: cover;
  user-select: none;
  animation:fade_in 5s;
}
.title > h1 {
  font-family:'Billabong';
  color: #eee;
  font-size: 36px;
  z-index: 3;
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
@keyframes fade_in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.welcome{
  margin-bottom:20px;
}

#MENU {
  width:40%;
}

.coffee > img:first-child {
  width: 50%;
}
.coffee > .slider > img {
  max-width: 100%;
  height: auto;
}
.juice > img:first-child {
  width: 45%;
}
.sweets > .slider > img {
  max-width: 100%;
  height: auto;
}
.sweets > img:first-child { /*フォント*/
  width: 45%;
}
.sweets > .slider > img {
  max-width: 100%;
  height: auto;
}
.food > img:first-child {
  width: 40%;
}
.food > .slider > img {
  max-width: 100%;
  height: auto;
}

#ACCESS {
  width: 45%;
}

.access .text{
  width:100%;
  background-color: #fff;
  color: #000;
}
.access > .text > ul > li span { /*アイコン*/
  font-size: 18px;
  block-size: 18px;
  line-height: 20px;
}

.access .text ul {
  padding: 0;
  display: block;
  width:260px; /*文字数に依存する*/
  margin-left: auto;
  margin-right: auto;
}
.access ul li{
  font-size: 18px;
  text-align: left;
  list-style: none;
}
.access .map iframe{
  width:100%;
  height:90vw;   /*縦はVWで指定する*/
  vertical-align: bottom; /*iframeはインライン要素なので下に空白ができる*/
  border:0;
}
footer{
  background-color: #999;
  color:#fff;
  font-family: serif;
  font-size: 14px;
  line-height: 3;
  width:100%;
  text-align: center;
}
footer span{
  font-size: 12px;
  font-family: serif;
  color:orange;
}

/*ダークモード*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #fff;
    color: #000;
  }
  header{
    background: #ccc;
    display: flex;
    width:100%;
    height: 50px;
    position: fixed;
    top:0px;
    z-index: 4;
  }
}
html[theme='dark-mode'] {
  filter: invert(0) hue-rotate(0deg);
}


/* ここからPC向け */
.pc_menu{display: none;}
@media(min-width:900px){
  .pc_menu{
    display: block;
    margin-left:auto;
    block-size: 50px;
  }
  .pc_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .pc_menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 180px;
    line-height: 50px;
    font-family: serif;
  }
  header > a > p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
  header > a > p:hover {background-color: #999;}
  .pc_menu a:hover{background-color: #999;}
  #phone_menu{display: none;}

  .buffer{
    background-color: rgba(255, 255, 255, 0);
  }

  h1{
    font-size: 60px;
    padding: 20px;
    font-family:'Billabong';
  }
  .welcome{
    display: grid;
    grid-template-columns: 58vw 38vw;
    grid-template-rows:1fr 32.64vw;     /*画像比率0.5627x60vw=32.64vw→in_cafeの縦*/
    gap:1.33vw;       /* 96vwの残り4vw / 3 */
    width:97.33vw;    /* 96vw + 1.33vw */
    margin:0 auto 1.33vw; 
  }
  .welcome .grid1{      /*テキスト*/  
    background-color:#fff;
    color:#000;
    position:static;
    border:0;
  }
  .welcome p{
    font-weight: normal;
  }
  .welcome .grid3.pic{
    display: block;
    width:58vw;
    height:32.64vw;
  }
  
  .welcome .grid2.pic{    /*外観の画像*/
    grid-row:1 / 3;
    grid-column: 2;
    width:38vw;
    height:50.665vw;
  }
 
  
  p{
    font-size: 24px;
    padding: 12px;
  }
  .welcome h1{
    font-size:30px;
    padding: 0;
  }
  .welcome p{
    font-size: 20px;
    padding:0 0 0 10px;
  }
  .Foods{
    display: grid;
    grid-template-columns: 48vw 48vw;
    /* grid-template-rows:42.17vw 38.4vw;     画像比率 0.879 x 48vw, 0.8 x 48vw */
    /* grid-template-rows: 21.085vw 21.085vw 19.2vw 19.2vw; グリッドを細かくする */
    grid-template-rows: 10.5425vw 10.5425vw 10.5425vw 10.5425vw 9.96vw 9.96vw 9.96vw 9.96vw;
    column-gap:1.33vw;       /* 96vwの残り4vw / 3 */
    width:97.33vw;    /* 96vw + 1.33vw */
    margin:0 auto 1.33vw;  
    position: relative;
  }
  .Foods .text.grid1{    
    background-color: #999;
    color: #fff;
    grid-row:1 / 4;
    grid-column: 2;
    border: 0;
    position: static;
    top:0;
    width:48vw;
    /* height:30vw; */
    margin-bottom:1.3vw;
  }
  .Foods .text.grid2{  
    background-color: #999;
    color: #fff;   
    grid-row:4 / 6;
    grid-column: 2;
    border: 0;
    position: static;
    width:48vw;
    margin:0 0 1.3vw;
  }
  .Foods .text.grid3{    
    background-color: #999;
    color: #fff;  
    grid-row:6 / 9;
    grid-column: 2;
    border: 0;
    margin:0;
    position:static;
    width:48vw;
  }
  .Foods .grid4.pic{
    width:48vw;
    height:42.17vw;
    grid-row:1 / 5;
    grid-column: 1;
    margin-bottom: 20px;
  }
  .Foods .grid5.pic{
    width:48vw;
    height:38.4vw;
    grid-row: 5 / 9;
    grid-column: 1;
    margin-top: 20px;     /*pic4 pic5両方にmargin必要*/
  }
  .drink{
    display: block;
  }
  .taiyaki, .o_taiyaki, .drink {
    width:38vw;
  }
  .o_taiyaki span{   
    margin:4vw 2vw;
  }
  .o_taiyaki ul{
    margin:7vw 2vw 2vw;
  }
  
  .o_taiyaki{
    margin:20px auto 20px;
  }
  .small_title{
    position: absolute;
    font-size: 24px;
    left: 14px;
    display: inline-block;
    top: 8px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    border-radius: 5px;
    font-weight: normal;
    background-color: #999;
    color:#fff;
  }
  .Foods .text ul li{
    font-size: 24px;
    font-weight: normal;
  }
  .taiyaki p, .o_taiyaki p{
    font-size: 18px;
    font-weight: normal;
  }
  .drink span{
    margin:5vw;
  }
  .drink ul{
    margin:8vw 0 5vw 5vw;
  }
  .drink ul li span{     /*値段*/
    font-size:18px;
    font-weight: normal;
  }
  .access{
    display: flex;
    margin:0 auto;
    width:97vw;
  }
  .access .text{
    width:58vw;
    height: 34vw;
    margin-right: 1.33vw;
  }
  .access .text ul {
    width:350px; /*文字数に依存する*/
   
  }
  .access ul li{
    font-size: 24px;
    text-align: left;
    list-style: none;
  }
  .access > .text > ul > li span {
    font-size: 24px;
    block-size: 24px;
    line-height: 24px;
  }
  .access .map iframe{
    width:38vw;
    height:34vw; 
    padding: 0;
    border:0;
  }
  footer{
    font-size: 24px; 
  }
  footer span{
    font-size: 22px;
    font-family: serif;
    color:orange;
  }
}